:root {
  /* цвет основного текста rgba(0, 0, 0, 0.8); */
  --primary-text-color: rgba(0, 0, 0, 0.8);
  /* цвет вторичного текста #000000; */
  --title-text-color: #000000;
  /* цвет акцент #18A0FB */
  --accent-color: #18a0fb;
  /* цвет инверсионного текста #ffffff */
  --primary-white-color: #ffffff;
  /* вторичный цвет фона #F5F5F5 */
  --secondary-background-color: #f5f5f5;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* button */
.button-primary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
.button-secondary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.body-page {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: -0.015em;
  text-align: left;
}

/* Site nav */
.nav-site-link {
  color: var(--accent-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.nav-site-link.current {
  color: var(--title-text-color);
}

.nav-site-link:hover,
.nav-site-link:focus {
  color: var(--title-text-color);
}

.nav-auth {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
/* banner */
.banner {
  background-color: #e5e5e5;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.banner-title {
  color: var(--title-text-color);
  font-size: 56px;
  font-weight: 400;
  line-height: 1.43;
  text-align: center;
}
/* section style */
.section-title {
  color: var(--title-text-color);
  font-size: 48px;
  font-weight: 400;
  line-height: 1.5;
}

/* benefits */
.benefits-list-title,
.work-list-title {
  color: var(--title-text-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

/* Section Work examples */
.work-item-odd,
.registration {
  background-color: #f5f5f5;
}

/* Section Reviews */
.reviews-text {
  font-size: 36px;
  line-height: 1.39;
}
/* Registration Section */
.registration-text {
  font-size: 36px;
  line-height: 1.39;
}
